.home-user .myrooms {
    display: flex;
    flex-direction: column;
    background-color: #7583ff;
    padding: 30px;
    border-radius: 5px;
    width: 100%;
    gap: 20px;
    color: #fff;
}

.home-user .myrooms .myrooms-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.home-user .myrooms .myrooms-list a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    gap: 10px;
    padding: 20px;
    font-weight: 600;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.home-user .myrooms .myrooms-list a:hover {
    background-color: #f5f5f5;
}