.home-user .myrooms {
    display: flex;
    flex-direction: column;
    background-color: #7583ff;
    padding: 30px;
    border-radius: 5px;
    width: 100%;
    gap: 20px;
    color: #fff;
}

.home-user .myrooms .myrooms-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.home-user .myrooms .myrooms-list .room-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    padding: 10px;
    gap: 10px;
}

.home-user .myrooms .myrooms-list .room-box a {
    padding: 12px;
    width: 100%;
    text-decoration: none;
    color: #000;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.home-user .myrooms .myrooms-list .room-box a:hover {
    background-color: #f2f2f2;
}

.home-user .myrooms .myrooms-list .room-box button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: #c9c9c9;
    transition: all 0.3s ease-in-out;
}

.home-user .myrooms .myrooms-list .room-box .room-leave:hover,
.home-user .myrooms .myrooms-list .room-box .delete:hover {
    background-color: var(--primary-color);
}

.home-user .myrooms .myrooms-list .room-box button:hover {
    background-color: var(--message-color);
}

.home-user .myrooms .myrooms-list .room-box .delete,
.home-user .myrooms .myrooms-list .room-box .room-leave {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
}

.home-user .myrooms .myrooms-list .room-box .room-box-set {
    display: flex;
    gap: 10px;
}

.home-user .myrooms .myrooms-list .room-box .room-creator {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
}

.home-user .myrooms .myrooms-list .room-box .room-users {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
    border-radius: 5px;
    background: #e6e6e6;
    font-size: 0.8rem;
}

.home-user .myrooms .no-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.home-user .myrooms .no-room img {
    width: 200px;
    height: 200px;
}