.av-users-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #8490ff;
    color: #fff;
    border-radius: 5px;
    min-width: 250px;
    width: 30%;
}

.av-users-container.in-room {
    width: 100%;
    color: #000;
    background: none;
}

.av-users-container .search-users {
    display: flex;
    width: 100%;
}

.av-users-container .search-users input {
    padding: 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.av-users-container h2 {
    text-align: left;
    width: 100%;
    font-size: 1.3rem;
}

.av-users-container .users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.user-card {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: #f5f5f5;
    transition: all 0.3s ease-in-out;
}

.user-card:hover {
    background-color: #e7e7e7;
    border: 1px solid #000;
}

.user-card p {
    width: 120px;
    font-size: 0.8rem;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-card img {
    padding: 2px;
    border: 2px solid var(--message-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 720px) {
    .av-users-container {
        width: 100%;
    }
}