.home-user {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.home-user .rooms-gen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;
}
