.home-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.home-user .rooms-gen {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.join-room,
.add-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    background-color: #eaeaea;
    padding: 30px;
    border-radius: 5px;
}

.join-room input,
.add-room input {
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

.join-room button,
.add-room button {
    border: none;
    padding: 14px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    background-color: var(--message-color);
    transition: all 0.3s ease-in-out;
}

.join-room button:hover,
.add-room button:hover {
    background-color: var(--primary-color);
}
