.home-user-cn {
    padding: 30px;
    width: 100%;
}

.home-user-cn .home-usr-all {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-user-cn .home-usr-all .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.home-user {
    display: flex;
    width: 100%;
    gap: 20px;
}


@media screen and (max-width: 768px) {
    .home-user-cn {
        padding: 10px;
    }

    .home-user-cn .home-usr-all .header {
        flex-direction: column-reverse;

    }

    .home-user {
        flex-direction: column-reverse;
    }
}