.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

.user-profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid var(--message-color);
}

.user-profile .header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.user-profile .header .username {
    text-align: center;
    color: var(--message-color);
    font-size: 0.8rem;
}

.user-profile h1 {
    font-size: 1.8rem;
    color: #000;
}

.user-profile .add-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0;
}

.user-profile .add-profile button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.user-profile .add-profile .edit {
    background-color: #000;
    border: 2px solid #000;
}

.user-profile .add-profile .message {
    background-color: var(--message-color);
    border: 2px solid var(--message-color);
}

.user-profile .add-profile .add {
    background-color: var(--message-color);
    border: 2px solid var(--message-color);
}

.user-profile .add-profile .remove {
    border: 2px solid var(--message-color);
    background: none;
    color: var(--message-color);
}

.loading-page-user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 30px;
    height: 100%;
    width: 100%;
}