.join-room-container,
.add-room-container {
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 0;
    padding: 150px 30px;
    width: 100%;
    height: 100%;
    background: #00000064;
    z-index: 100;
}

.join-room .close,
.add-room .close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000;
    font-size: 3rem;
    padding: 0;
    background: none;
    transition: all 0.3s ease-in-out;
}

.join-room .close:hover,
.add-room .close:hover {
    color: var(--message-color);
    background: none;
}

.join-room,
.add-room {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    gap: 20px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    color: var(--message-color);
}

.join-room input,
.add-room input {
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    border: 1px solid #818181;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

.join-room input:focus,
.add-room input:focus {
    border-color: var(--message-color);
}

.join-room button,
.add-room button {
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--message-color);
    transition: all 0.3s ease-in-out;
}

.join-room button:hover,
.add-room button:hover {
    background-color: var(--message-color-hover);
}

.add-room .room-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.add-room .room-theme button {
    padding: 20px;
    border-radius: 50%;
    border: 2px solid;
}

.add-room .room-theme button.checked {
    border: 2px solid #000;
}