.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.home-page .wlc {
    font-size: 3rem;
    font-weight: 600;
    padding: 50px 30px;
}

.home-page .wlc span {
    color: #333;
}

.home-page .example {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 720px;
    padding: 50px 30px;
    gap: 20px;
}

.home-page .continue {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    gap: 20px;
    padding: 50px 30px;
}

.home-page .continue h2 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
}

.home-page .continue .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.home-page .continue .links .login-btn {
    color: var(--message-color);
}

.home-page .continue .links .login-btn:hover {
    color: var(--message-color-hover);
}

.home-page .continue .links .register-btn {
    background-color: var(--message-color);
    color: #fff;
}

.home-page .continue .links .register-btn:hover {
    background-color: var(--message-color-hover);
}

.home-page .continue a {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
}

.home-page .about {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 50px 30px;
}

.home-page .about div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--message-color-hover);
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px;
    font-size: 0.6rem;
    font-weight: 500;
}


@media screen and (max-width: 768px) {
    .home-page .wlc {
        font-size: 2rem;
    }

    .home-page .example {
        padding: 30px;
    }

    .home-page .continue {
        padding: 30px;
    }

    .home-page .continue h2 {
        font-size: 1.4rem;
    }

    .home-page .about {
        padding: 30px;
    }
}