.loading-page {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1000;
}


@media screen and (max-width: 768px) {
    .loading-page svg{
        width: 20px;
        height: 20px;
    }
}