.message-cnt {
    display: flex;
    box-sizing: border-box;
    gap: 10px;
}

.message-cnt .message a {
    text-decoration: none;
    color: #636363;
}

.message-cnt> .message {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 500px;
    width: fit-content;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    overflow-wrap: break-word; /* Ensure long words break */
    word-wrap: break-word; /* Older browsers support */
}

.message-cnt .user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.message-cnt .message .message-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 0.6rem;
}

@media screen and (max-width: 450px) {
    .message-cnt> .message {
        font-size: 0.8rem;
    }
}