.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar>.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-bar>.logo img {
    width: 60px;
    height: auto;
}

.nav-bar .usr {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-bar .usr .usr-sets {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    gap: 5px;
    background: #fff;
    border: 1px solid #a5a5a5;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-bar .usr .usr-sets:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar .usr .usr-sets svg {
    width: 20px;
    height: 20px;
}

.nav-bar .usr .usr-sets.notification {
    position: relative;
}

.nav-bar .usr .usr-sets.notification p{
    position: absolute;
    top: -2px;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--primary-color);
    color: #fff;
    border: 2px solid #fff;
    font-size: 0.8rem;
}

.nav-bar .usr .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
}

.nav-bar .usr .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid var(--message-color);
    transition: all 0.3s ease-in-out;
}

.nav-bar .usr .profile img:hover {
    border: 2px solid var(--message-color-hover);
}

.nav-bar .usr .profile-sets {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 90px;
    padding: 5px;
    gap: 5px;
    right: 30px;
    background: #fff;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar .usr .profile-sets.show {
    display: flex;
    /* Add any transition effect, like: */
    transition: all 0.3s ease-in-out;
}

.nav-bar .usr .profile-sets h3 {
    padding: 10px;
    border-bottom: 1px solid #a5a5a5;
    font-size: 1rem;
    color: #4f4f4f;
    text-align: center;
}

.nav-bar .usr .profile-sets button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    gap: 10px;
    cursor: pointer;
    color: #4f4f4f;
    font-size: 1rem;
    padding: 12px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.nav-bar .usr .profile-sets button:hover {
    background: #f1f1f1;
}

.nav-bar .login {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-bar .login a {
    text-decoration: none;
    color: #4f4f4f;
    font-size: 1rem;
}


.nav-bar .login .re,
.nav-bar .login .lg {
    font-size: 1.1rem;
}

.nav-bar .login .re {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 5px;
    background: var(--message-color);
    color: #fff;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.nav-bar .login .re:hover {
    background: var(--message-color-hover);
}

.nav-bar .login .lg {
    color: var(--message-color);
    font-weight: 600;
}

@media screen and (max-width: 720px) {
    .nav-bar {
        padding: 0 20px;
    }

    .nav-bar>.logo {
        gap: 5px;
    }

    .nav-bar .usr .usr-sets {
        padding: 10px;
    }

    .nav-bar .usr .profile img {
        width: 40px;
        height: 40px;
    }

    .nav-bar .usr .profile-sets {
        top: 80px;
        right: 20px;
    }

    .nav-bar .usr .profile-sets h3 {
        font-size: 0.9rem;
    }

    .nav-bar .usr .profile-sets button {
        font-size: 0.9rem;
        padding: 10px 15px;
    }

    .nav-bar .login .re,
    .nav-bar .login .lg {
        font-size: 1rem;
    }

    .nav-bar .usr .usr-sets.notification p{
        top: -2px;
        right: -2px;
        width: 20px;
        height: 20px;
    }

}