.notifications-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #818181;
    background-color: #ffffff;
    top: 90px;
    right: 30px;
    z-index: 100;
    border-radius: 5px;
    height: auto;
}

.notifications-container .notification {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
    background-color: #ffffff;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    border-bottom: 1px solid #818181;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.notifications-container .notification:last-child {
    border-bottom: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.notifications-container .notification .notification-message {
    padding: 20px;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}

.notifications-container .notification .notification-time {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.6rem;
    color: #3a3a3a;
}