.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 30px;
}

.settings-container .error {
    color: red;
    font-size: 14px;
}

.settings-container form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.settings-container form .profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.settings-container form .profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.settings-container form .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings-container form .input-group select,
.settings-container form .input-group input {
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.settings-container form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.settings-container form button:hover {
    background-color: #0056b3;
}